<ion-grid class="discover">
  <ion-row class="maxWidth">
    <ion-col>
      <h3>Discover</h3>
    </ion-col>
  </ion-row>
  <ion-row class="maxWidth">
    <ion-col>
      <h1>How It Works: Subscribe and Receive Your Surprise Box</h1>
    </ion-col>
  </ion-row>
  <ion-row class="maxWidth">
    <ion-col>
      <p>
        Subscribe to our surprise subscription box and give your child the
        gift of learning. Each month, we curate a box filled with
        educational materials tailored to your child's age and interests.
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="steps-level">
    <ion-col class="column">
      <ion-img src="../../../assets/subscribe-1.svg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      <div class="content">
        <b class="heading">
          <p class="step">Step 1:</p>
          <p class="sub-text">Subscribe</p>
        </b>
        <div class="description">
          Select a subscription plan that suits your child's learning
          needs and preferences.
        </div>
      </div>
    </ion-col>
    <ion-col class="column">
      <ion-img src="../../../assets/customize-1.svg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      <div class="content">
        <b class="heading">
          <p class="step">Step 2:</p>
          <p class="sub-text">Personalise Your Box</p>
        </b>
        <div class="description">
          Tell us about your child's age, interests, and learning goals,
          and we'll customize their surprise box accordingly.
        </div>
      </div>
    </ion-col>
    <ion-col class="column">
      <ion-img src="../../../assets/surprise-5659573-1.svg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      <div class="content">
        <b class="heading">
          <p class="step">Step 3:</p>
          <p class="sub-text">Receive Your Surprise Box</p>
        </b>
        <div class="description">
          Sit back and relax as your child eagerly awaits the arrival of
          their monthly surprise box filled with engaging learning
          materials.
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/subscribe']" class="primary">Subscribe Now</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>