<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <img class="logo-icon" alt="" src="../../assets/logo1.svg">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">
        <img class="logo-icon" alt="" src="../../assets/logo1.svg">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="primary">
    <ion-row class="content">
      <ion-col>
        <h1>Discover the magic of our surprise box</h1>
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col>
        <h2>Unleash your child's curiosity with our educational subscription box filled with fun and learning.</h2>
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col>
        <ion-button class="primary">Subscribe Now</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/placeholder-image@2x.png"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>

  <app-discover />

  <app-footer />
  
</ion-content>